<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!-- Flowbite -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />

    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet" />

    <title>Vdrop</title>
</head>

<body class="bg-gray-100 dark:bg-gray-900 min-h-screen transition-colors duration-300">

    <!-- NAVBAR -->
    <header class="bg-white dark:bg-gray-800 shadow-sm">
        <div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">

            <h1 class="text-2xl font-bold text-gray-800 dark:text-white flex items-center gap-2">
                <i class="ri-cloud-line text-blue-600"></i> Vdrop
            </h1>

            <div class="flex items-center gap-4">
                <a href="/">
                    <button onclick=""
                    class="px-3 py-1 rounded-lg bg-gray-200 dark:bg-gray-700 dark:text-white hover:bg-gray-500 cursor-pointer">
                    <i class="ri-user-fill"></i>
                    <span>Log out</span>
                </button>
            </a>

                <button onclick="toggleTheme()"
                    class="px-3 py-1 rounded-lg bg-gray-200 dark:bg-gray-700 dark:text-white hover:bg-gray-500 cursor-pointer">
                    <i class="ri-moon-line"></i>
                </button>

                <button onclick="showPopUp()"
                    class="flex items-center gap-2 bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg text-sm cursor-pointer">
                    <i class="ri-upload-cloud-line"></i> Upload
                </button>

            </div>
        </div>
    </header>

    <!-- MAIN -->
    <main class="max-w-6xl mx-auto px-6 py-8">

        <!-- DASHBOARD CARDS -->
        <div class="grid md:grid-cols-3 gap-6 mb-10">

            <div class="bg-white dark:bg-gray-800 p-6 rounded-xl shadow">
                <p class="text-gray-500 text-sm">Total Files</p>
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white">
                    <%= uploadedFiles %>
                </h2>
            </div>

            <div class="bg-white dark:bg-gray-800 p-6 rounded-xl shadow">
                <p class="text-gray-500 text-sm">Storage Used</p>
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white">
                    <%= formatBytes(storageUsed) %>
                </h2>
            </div>

            <div class="bg-white dark:bg-gray-800 p-6 rounded-xl shadow">
                <p class="text-gray-500 text-sm">Recent Upload</p>
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white"><%= recentUploadText %></h2>
            </div>

        </div>


        <!-- FILES SECTION -->
        <h2 class="text-xl font-semibold mb-4 text-gray-700 dark:text-gray-200">
            Your Files
        </h2>

        <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-6">
            <% files.forEach((file)=>{ %>
                <div class="bg-white dark:bg-gray-800 rounded-xl shadow p-4 hover:shadow-lg transition">


                    <div class="flex justify-between items-center mb-3">
                        <i class="ri-file-line text-2xl text-blue-500"></i>
                        <a href="/download/<%= file.fileId %>" download="<%= file.fileName %>"
                            class="text-white text-2xl"><i class="ri-download-cloud-2-line"></i></a>
                    </div>

                    <h3 class="text-sm font-semibold text-gray-800 dark:text-white truncate">
                        <%= file.fileName %>
                    </h3>

                </div>
                <% }); %>

        </div>

    </main>

    <!-- UPLOAD POPUP -->

    <div class="pop hidden fixed inset-0 backdrop-blur-sm flex items-center justify-center">

        <div class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow-lg w-96 relative">

            <button onclick="hidePopUp()" class="absolute top-4 right-4 text-gray-400 text-xl">
                <i class="ri-close-line"></i>
            </button>

            <h2 class="text-lg font-semibold mb-4 text-gray-800 dark:text-white">
                Upload File
            </h2>

            <form action="/upload" method="post" enctype="multipart/form-data" class="space-y-4">

                <label for="dropzone-file"
                    class="flex flex-col items-center justify-center h-44 border-2 border-dashed border-gray-300 dark:border-gray-600 rounded-xl cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700">

                    <i class="ri-upload-cloud-line text-3xl text-gray-400"></i>

                    <p class="text-sm mt-2 text-gray-500">
                        Click to upload or drag file
                    </p>

                    <input id="dropzone-file" type="file" class="hidden" name="file" />

                </label>

                <button class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg">
                    Upload
                </button>

            </form>

        </div>

    </div>


    <script>

        function showPopUp() {
            document.querySelector(".pop").classList.remove("hidden")
        }

        function hidePopUp() {
            document.querySelector(".pop").classList.add("hidden")
        }

        function toggleTheme() {
            document.documentElement.classList.toggle("dark")
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>

</body>

</html>